<html>
<head>
<script type="text/javascript" src="https://satya.huntana.com/js/jquery/jquery-1.2.3.js"></script>
<script type="text/javascript" src="/static/javascript/bracket_picks.js"></script>
<title>Round 1 - Men's Basketball - NCAA Tournament 2009</title>
<style type="text/css"> 
<!-- 
table { border-collapse: collapse; border: none; font: small arial, helvetica, sans-serif; } 
td { vertical-align: middle; width: 10em; margin: 0; padding: 0; } 
td p { border-bottom: solid 1px black; margin: 0; padding: 5px 5px 2px 5px; } 
--> 
</style> 
</head>
<body>
    <h1>Round 1 - Men's Basketball - NCAA Tournament 2009</h1>
    <h2>Region [% region %]</h2>
    <p>
    [% USE Dumper %]
    <a href='http://sports.yahoo.com/ncaab/teams/'>teams base url</a>
    </p>
   <table summary="Tournament Bracket">  
[% team = teams.next %]
		<tr>  <td><p id="r1-t[% team.id %]">[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w1"></p></td>  <td rowspan="4"><p id="w9"></p></td>  <td rowspan="8"><p id="w13"></p></td>  <td rowspan="16"><p id="w15"></p></td>  </tr> 
[% team = teams.next %]		
		<tr>  <td><p id="r1-t[% team.id %]">[% team.seed %]. [% team.name %]</p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w2"></p></td>  </tr> 
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w3"></p></td>  <td rowspan="4"><p id="w10"></p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w4"></p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w5"></p></td>  <td rowspan="4"><p id="w11"></p></td>  <td rowspan="8"><p id="w14"></p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr>  
[% team = teams.next %]		
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w6"></p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr>
[% team = teams.next %] 
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w7"></p></td>  <td rowspan="4"><p id="w12"></p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr>  
[% team = teams.next %]		
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  <td rowspan="2"><p id="w8"></p></td>  </tr>  
[% team = teams.next %]
		<tr>  <td><p>[% team.seed %]. [% team.name %]</p></td>  </tr> 
	</table> 
</body>
</html>
