[% IF c.user_exists AND !user_header_off %]
<div class="tournament_header">
<span>[% page_title %]</span>
</div>
<div class="user_header">
    [% IF show_home %]<span><a href="[% c.uri_for('/') %]">Home</a></span> | [% END %]
    <span><a href="[% c.uri_for('/account') %]">Account</a></span>
    |
    <span><a href="[% c.uri_for('/logout') %]">Logout</a></span>
</div>

<br />
[% END %]

