<html>
<head>
<script type="text/javascript" src="https://satya.huntana.com/js/jquery/jquery-1.2.3.js"></script>
<script type="text/javascript" src="/static/javascript/bracket_picks.js"></script>
<title>Regional Picks Saved - Men's Basketball - NCAA Tournament 2009</title>
<style type="text/css"> 
</style> 
</head>
<body>

[% USE Dumper %]

<div style="font-size: 108%;"> Men's Basketball - NCAA Tournament 2009</div>
<div style="font-size: 115%;">Player <em>[% player_name %]</em> <strong>[% region_name %] Region</strong> Picks Saved</div>	

[% INCLUDE 'nav/edit_links.tt' %]
[% INCLUDE 'nav/view_links.tt' %]

</body>
</html>
