<html>
<head>
<script type="text/javascript" src="https://satya.huntana.com/js/jquery/jquery-1.2.3.js"></script>
<script type="text/javascript" src="/static/javascript/bracket_picks.js"></script>
<title>Regional Picks Saved - Men's Basketball - NCAA Tournament [% c.config.year %]</title>
<style type="text/css"> 
</style> 
</head>
<body>

[% USE Dumper %]

<div style="font-size: 108%;"> Men's Basketball - NCAA Tournament  c.config.year</div>
<div style="font-size: 115%;">Player <em>[% player.first_name %] [% player.last_name %]</em> <strong>Final 4</strong> Picks Saved</div>	
<div>
<a href="[% c.uri_for('/all') %]">All Players Home</a>
</div>

[% #INCLUDE 'edit_and_view_links.tt' %]
[% INCLUDE 'nav/view_links.tt' %]

</body>
</html>
